body {
    background-color: cadetblue;
}

iframe {
    width: 1280px;
    height: 720px;
    border-style: none;
}

#wrapper {
    text-align: center;
}

#game-area {
    /*background-color: slategrey;*/
    /*display: inline-block;*/

    /*margin: auto;*/
    /*text-align: center;*/
}
